/* 此样式文件无需引入，仅作为开发时IDE提示使用，运行时由插件自动生成并注入  */

html[data-theme="light"] {
  --color-primary: #4814B8;
  --color-on-primary: #FFFFFF;
  --color-primary-hover: #7B47EB;
  --color-on-primary-hover: #FFFFFF;
  --color-primary-active: #4814B8;
  --color-on-primary-active: #DED1FA;
  --color-primary-disabled: #BDA3F5;
  --color-on-primary-disabled: #FFFFFF;
  --color-primary-container: #DED1FA;
  --color-on-primary-container: #360F8A;
  --color-secondary: #3028A4;
  --color-on-secondary: #FFFFFF;
  --color-secondary-hover: #635BD7;
  --color-on-secondary-hover: #FFFFFF;
  --color-secondary-active: #3028A4;
  --color-on-secondary-active: #D8D6F5;
  --color-secondary-disabled: #B1ADEB;
  --color-on-secondary-disabled: #FFFFFF;
  --color-secondary-container: #D8D6F5;
  --color-on-secondary-container: #241E7B;
  --color-tertiary: #3C4C90;
  --color-on-tertiary: #FFFFFF;
  --color-tertiary-hover: #6F7FC3;
  --color-on-tertiary-hover: #FFFFFF;
  --color-tertiary-active: #3C4C90;
  --color-on-tertiary-active: #DBDFF0;
  --color-tertiary-disabled: #B7BFE1;
  --color-on-tertiary-disabled: #FFFFFF;
  --color-tertiary-container: #DBDFF0;
  --color-on-tertiary-container: #2D396C;
  --color-success: #4B814B;
  --color-on-success: #FFFFFF;
  --color-success-hover: #7EB47E;
  --color-on-success-hover: #FFFFFF;
  --color-success-active: #4B814B;
  --color-on-success-active: #DFECDF;
  --color-success-disabled: #BFD9BF;
  --color-on-success-disabled: #FFFFFF;
  --color-success-container: #DFECDF;
  --color-on-success-container: #396039;
  --color-warning: #956E37;
  --color-on-warning: #FFFFFF;
  --color-warning-hover: #C8A16A;
  --color-on-warning-hover: #FFFFFF;
  --color-warning-active: #956E37;
  --color-on-warning-active: #F1E8DA;
  --color-warning-disabled: #E3D0B5;
  --color-on-warning-disabled: #FFFFFF;
  --color-warning-container: #F1E8DA;
  --color-on-warning-container: #705329;
  --color-error: #9A3232;
  --color-on-error: #FFFFFF;
  --color-error-hover: #CD6565;
  --color-on-error-hover: #FFFFFF;
  --color-error-active: #9A3232;
  --color-on-error-active: #F3D8D8;
  --color-error-disabled: #E6B2B2;
  --color-on-error-disabled: #FFFFFF;
  --color-error-container: #F3D8D8;
  --color-on-error-container: #742525;
  --color-neutral: #5F527A;
  --color-on-neutral: #FFFFFF;
  --color-neutral-hover: #9285AD;
  --color-on-neutral-hover: #FFFFFF;
  --color-neutral-active: #5F527A;
  --color-on-neutral-active: #E4E0EB;
  --color-neutral-disabled: #C8C2D6;
  --color-on-neutral-disabled: #FFFFFF;
  --color-neutral-container: #E4E0EB;
  --color-on-neutral-container: #473D5C;
  --color-surface: #FAF9FB;
  --color-surface-variant: #E4E0EB;
  --color-inverse-surface: #2F293D;
  --color-inverse-on-surface: #F1F0F5;
  --color-surface-dim: #DBD7E4;
  --color-surface-bright: #FAF9FB;
  --color-surface-container-lowest: #FFFFFF;
  --color-surface-container: #F4F3F7;
  --color-surface-container-low: #F4F3F7;
  --color-surface-container-high: #E9E7EF;
  --color-surface-container-highest: #E4E0EB;
  --color-on-surface: #18141F;
  --color-on-surface-variant: #473D5C;
  --color-outline: #766699;
  --color-outline-variant: #E4E0EB;
  --color-shadow: #18141F;
  --color-scrim: #000000;
  --color-background: #FAF9FB;
  --color-on-background: #18141F;
  --color-primary-1: #E5DAFB;
  --color-primary-2: #C6AFF6;
  --color-primary-3: #A785F1;
  --color-primary-4: #885AED;
  --color-primary-5: #692FE8;
  --color-primary-6: #5117D0;
  --color-primary-7: #4112A5;
  --color-primary-8: #300E7A;
  --color-primary-9: #1F0950;
  --color-primary-10: #0E0425;
  --color-secondary-1: #E0DEF7;
  --color-secondary-2: #BBB8EE;
  --color-secondary-3: #9792E4;
  --color-secondary-4: #726BDB;
  --color-secondary-5: #4E45D2;
  --color-secondary-6: #362DBA;
  --color-secondary-7: #2B2494;
  --color-secondary-8: #201B6D;
  --color-secondary-9: #151147;
  --color-secondary-10: #0A0821;
  --color-tertiary-1: #E2E5F3;
  --color-tertiary-2: #C1C7E5;
  --color-tertiary-3: #9FA9D7;
  --color-tertiary-4: #7E8BC9;
  --color-tertiary-5: #5C6DBB;
  --color-tertiary-6: #4456A3;
  --color-tertiary-7: #364481;
  --color-tertiary-8: #283260;
  --color-tertiary-9: #1A213E;
  --color-tertiary-10: #0C0F1D;
  --color-success-1: #E5F0E5;
  --color-success-2: #C7DEC7;
  --color-success-3: #A9CDA9;
  --color-success-4: #8BBB8B;
  --color-success-5: #6DA96D;
  --color-success-6: #569256;
  --color-success-7: #447444;
  --color-success-8: #325632;
  --color-success-9: #213821;
  --color-success-10: #0F1A0F;
  --color-warning-1: #F4ECE1;
  --color-warning-2: #E7D6BE;
  --color-warning-3: #DAC09C;
  --color-warning-4: #CDAB79;
  --color-warning-5: #C19556;
  --color-warning-6: #A97D3E;
  --color-warning-7: #866332;
  --color-warning-8: #634925;
  --color-warning-9: #413018;
  --color-warning-10: #1E160B;
  --color-error-1: #F5E0E0;
  --color-error-2: #E9BCBC;
  --color-error-3: #DE9898;
  --color-error-4: #D27474;
  --color-error-5: #C65050;
  --color-error-6: #AF3939;
  --color-error-7: #8B2D2D;
  --color-error-8: #672121;
  --color-error-9: #431616;
  --color-error-10: #1F0A0A;
  --color-neutral-1: #E9E7EF;
  --color-neutral-2: #D0CADC;
  --color-neutral-3: #B6ADC9;
  --color-neutral-4: #9D91B6;
  --color-neutral-5: #8374A3;
  --color-neutral-6: #6B5C8B;
  --color-neutral-7: #55496E;
  --color-neutral-8: #3F3652;
  --color-neutral-9: #292335;
  --color-neutral-10: #131018;
}

html[data-theme="dark"] {
  --color-primary: #BDA3F5;
  --color-on-primary: #240A5C;
  --color-primary-hover: #DED1FA;
  --color-on-primary-hover: #360F8A;
  --color-primary-active: #9C75F0;
  --color-on-primary-active: #12052E;
  --color-primary-disabled: #240A5C;
  --color-on-primary-disabled: #3F12A1;
  --color-primary-container: #360F8A;
  --color-on-primary-container: #DED1FA;
  --color-secondary: #B1ADEB;
  --color-on-secondary: #181452;
  --color-secondary-hover: #D8D6F5;
  --color-on-secondary-hover: #241E7B;
  --color-secondary-active: #8A84E1;
  --color-on-secondary-active: #0C0A29;
  --color-secondary-disabled: #181452;
  --color-on-secondary-disabled: #2A2390;
  --color-secondary-container: #241E7B;
  --color-on-secondary-container: #D8D6F5;
  --color-tertiary: #B7BFE1;
  --color-on-tertiary: #1E2648;
  --color-tertiary-hover: #DBDFF0;
  --color-on-tertiary-hover: #2D396C;
  --color-tertiary-active: #939FD2;
  --color-on-tertiary-active: #0F1324;
  --color-tertiary-disabled: #1E2648;
  --color-on-tertiary-disabled: #35427E;
  --color-tertiary-container: #2D396C;
  --color-on-tertiary-container: #DBDFF0;
  --color-success: #BFD9BF;
  --color-on-success: #264026;
  --color-success-hover: #DFECDF;
  --color-on-success-hover: #396039;
  --color-success-active: #9FC69F;
  --color-on-success-active: #132013;
  --color-success-disabled: #264026;
  --color-on-success-disabled: #427042;
  --color-success-container: #396039;
  --color-on-success-container: #DFECDF;
  --color-warning: #E3D0B5;
  --color-on-warning: #4A371C;
  --color-warning-hover: #F1E8DA;
  --color-on-warning-hover: #705329;
  --color-warning-active: #D6B98F;
  --color-on-warning-active: #251C0E;
  --color-warning-disabled: #4A371C;
  --color-on-warning-disabled: #826030;
  --color-warning-container: #705329;
  --color-on-warning-container: #F1E8DA;
  --color-error: #E6B2B2;
  --color-on-error: #4D1919;
  --color-error-hover: #F3D8D8;
  --color-on-error-hover: #742525;
  --color-error-active: #DA8B8B;
  --color-on-error-active: #270C0C;
  --color-error-disabled: #4D1919;
  --color-on-error-disabled: #872C2C;
  --color-error-container: #742525;
  --color-on-error-container: #F3D8D8;
  --color-neutral: #C8C2D6;
  --color-on-neutral: #2F293D;
  --color-neutral-hover: #E4E0EB;
  --color-on-neutral-hover: #473D5C;
  --color-neutral-active: #ADA3C2;
  --color-on-neutral-active: #18141F;
  --color-neutral-disabled: #2F293D;
  --color-on-neutral-disabled: #53476B;
  --color-neutral-container: #473D5C;
  --color-on-neutral-container: #E4E0EB;
  --color-surface: #0E0C12;
  --color-surface-variant: #473D5C;
  --color-on-surface: #E4E0EB;
  --color-on-surface-variant: #E4E0EB;
  --color-inverse-surface: #E4E0EB;
  --color-inverse-on-surface: #2F293D;
  --color-surface-dim: #0E0C12;
  --color-surface-bright: #393149;
  --color-surface-container-lowest: #09080C;
  --color-surface-container: #1C1825;
  --color-surface-container-low: #18141F;
  --color-surface-container-high: #282334;
  --color-surface-container-highest: #342D43;
  --color-outline: #5F527A;
  --color-outline-variant: #2F293D;
  --color-shadow: #18141F;
  --color-scrim: #000000;
  --color-background: #0E0C12;
  --color-on-background: #E4E0EB;
  --color-primary-1: #0E0425;
  --color-primary-2: #1F0950;
  --color-primary-3: #300E7A;
  --color-primary-4: #4112A5;
  --color-primary-5: #5117D0;
  --color-primary-6: #692FE8;
  --color-primary-7: #885AED;
  --color-primary-8: #A785F1;
  --color-primary-9: #C6AFF6;
  --color-primary-10: #E5DAFB;
  --color-secondary-1: #0A0821;
  --color-secondary-2: #151147;
  --color-secondary-3: #201B6D;
  --color-secondary-4: #2B2494;
  --color-secondary-5: #362DBA;
  --color-secondary-6: #4E45D2;
  --color-secondary-7: #726BDB;
  --color-secondary-8: #9792E4;
  --color-secondary-9: #BBB8EE;
  --color-secondary-10: #E0DEF7;
  --color-tertiary-1: #0C0F1D;
  --color-tertiary-2: #1A213E;
  --color-tertiary-3: #283260;
  --color-tertiary-4: #364481;
  --color-tertiary-5: #4456A3;
  --color-tertiary-6: #5C6DBB;
  --color-tertiary-7: #7E8BC9;
  --color-tertiary-8: #9FA9D7;
  --color-tertiary-9: #C1C7E5;
  --color-tertiary-10: #E2E5F3;
  --color-success-1: #0F1A0F;
  --color-success-2: #213821;
  --color-success-3: #325632;
  --color-success-4: #447444;
  --color-success-5: #569256;
  --color-success-6: #6DA96D;
  --color-success-7: #8BBB8B;
  --color-success-8: #A9CDA9;
  --color-success-9: #C7DEC7;
  --color-success-10: #E5F0E5;
  --color-warning-1: #1E160B;
  --color-warning-2: #413018;
  --color-warning-3: #634925;
  --color-warning-4: #866332;
  --color-warning-5: #A97D3E;
  --color-warning-6: #C19556;
  --color-warning-7: #CDAB79;
  --color-warning-8: #DAC09C;
  --color-warning-9: #E7D6BE;
  --color-warning-10: #F4ECE1;
  --color-error-1: #1F0A0A;
  --color-error-2: #431616;
  --color-error-3: #672121;
  --color-error-4: #8B2D2D;
  --color-error-5: #AF3939;
  --color-error-6: #C65050;
  --color-error-7: #D27474;
  --color-error-8: #DE9898;
  --color-error-9: #E9BCBC;
  --color-error-10: #F5E0E0;
  --color-neutral-1: #131018;
  --color-neutral-2: #292335;
  --color-neutral-3: #3F3652;
  --color-neutral-4: #55496E;
  --color-neutral-5: #6B5C8B;
  --color-neutral-6: #8374A3;
  --color-neutral-7: #9D91B6;
  --color-neutral-8: #B6ADC9;
  --color-neutral-9: #D0CADC;
  --color-neutral-10: #E9E7EF;
}

:root {
  --color-primary-fixed: #4814B8;
  --color-on-primary-fixed: #FFFFFF;
  --color-primary-hover-fixed: #7B47EB;
  --color-on-primary-hover-fixed: #FFFFFF;
  --color-primary-active-fixed: #4814B8;
  --color-on-primary-active-fixed: #DED1FA;
  --color-primary-disabled-fixed: #BDA3F5;
  --color-on-primary-disabled-fixed: #FFFFFF;
  --color-primary-container-fixed: #DED1FA;
  --color-on-primary-container-fixed: #360F8A;
  --color-secondary-fixed: #3028A4;
  --color-on-secondary-fixed: #FFFFFF;
  --color-secondary-hover-fixed: #635BD7;
  --color-on-secondary-hover-fixed: #FFFFFF;
  --color-secondary-active-fixed: #3028A4;
  --color-on-secondary-active-fixed: #D8D6F5;
  --color-secondary-disabled-fixed: #B1ADEB;
  --color-on-secondary-disabled-fixed: #FFFFFF;
  --color-secondary-container-fixed: #D8D6F5;
  --color-on-secondary-container-fixed: #241E7B;
  --color-tertiary-fixed: #3C4C90;
  --color-on-tertiary-fixed: #FFFFFF;
  --color-tertiary-hover-fixed: #6F7FC3;
  --color-on-tertiary-hover-fixed: #FFFFFF;
  --color-tertiary-active-fixed: #3C4C90;
  --color-on-tertiary-active-fixed: #DBDFF0;
  --color-tertiary-disabled-fixed: #B7BFE1;
  --color-on-tertiary-disabled-fixed: #FFFFFF;
  --color-tertiary-container-fixed: #DBDFF0;
  --color-on-tertiary-container-fixed: #2D396C;
  --color-success-fixed: #4B814B;
  --color-on-success-fixed: #FFFFFF;
  --color-success-hover-fixed: #7EB47E;
  --color-on-success-hover-fixed: #FFFFFF;
  --color-success-active-fixed: #4B814B;
  --color-on-success-active-fixed: #DFECDF;
  --color-success-disabled-fixed: #BFD9BF;
  --color-on-success-disabled-fixed: #FFFFFF;
  --color-success-container-fixed: #DFECDF;
  --color-on-success-container-fixed: #396039;
  --color-warning-fixed: #956E37;
  --color-on-warning-fixed: #FFFFFF;
  --color-warning-hover-fixed: #C8A16A;
  --color-on-warning-hover-fixed: #FFFFFF;
  --color-warning-active-fixed: #956E37;
  --color-on-warning-active-fixed: #F1E8DA;
  --color-warning-disabled-fixed: #E3D0B5;
  --color-on-warning-disabled-fixed: #FFFFFF;
  --color-warning-container-fixed: #F1E8DA;
  --color-on-warning-container-fixed: #705329;
  --color-error-fixed: #9A3232;
  --color-on-error-fixed: #FFFFFF;
  --color-error-hover-fixed: #CD6565;
  --color-on-error-hover-fixed: #FFFFFF;
  --color-error-active-fixed: #9A3232;
  --color-on-error-active-fixed: #F3D8D8;
  --color-error-disabled-fixed: #E6B2B2;
  --color-on-error-disabled-fixed: #FFFFFF;
  --color-error-container-fixed: #F3D8D8;
  --color-on-error-container-fixed: #742525;
  --color-neutral-fixed: #5F527A;
  --color-on-neutral-fixed: #FFFFFF;
  --color-neutral-hover-fixed: #9285AD;
  --color-on-neutral-hover-fixed: #FFFFFF;
  --color-neutral-active-fixed: #5F527A;
  --color-on-neutral-active-fixed: #E4E0EB;
  --color-neutral-disabled-fixed: #C8C2D6;
  --color-on-neutral-disabled-fixed: #FFFFFF;
  --color-neutral-container-fixed: #E4E0EB;
  --color-on-neutral-container-fixed: #473D5C;
  --color-surface-fixed: #FAF9FB;
  --color-surface-variant-fixed: #E4E0EB;
  --color-inverse-surface-fixed: #2F293D;
  --color-inverse-on-surface-fixed: #F1F0F5;
  --color-surface-dim-fixed: #DBD7E4;
  --color-surface-bright-fixed: #FAF9FB;
  --color-surface-container-lowest-fixed: #FFFFFF;
  --color-surface-container-fixed: #F4F3F7;
  --color-surface-container-low-fixed: #F4F3F7;
  --color-surface-container-high-fixed: #E9E7EF;
  --color-surface-container-highest-fixed: #E4E0EB;
  --color-on-surface-fixed: #18141F;
  --color-on-surface-variant-fixed: #473D5C;
  --color-outline-fixed: #766699;
  --color-outline-variant-fixed: #E4E0EB;
  --color-shadow-fixed: #18141F;
  --color-scrim-fixed: #000000;
  --color-background-fixed: #FAF9FB;
  --color-on-background-fixed: #18141F;
  --color-primary-1-fixed: #E5DAFB;
  --color-primary-2-fixed: #C6AFF6;
  --color-primary-3-fixed: #A785F1;
  --color-primary-4-fixed: #885AED;
  --color-primary-5-fixed: #692FE8;
  --color-primary-6-fixed: #5117D0;
  --color-primary-7-fixed: #4112A5;
  --color-primary-8-fixed: #300E7A;
  --color-primary-9-fixed: #1F0950;
  --color-primary-10-fixed: #0E0425;
  --color-secondary-1-fixed: #E0DEF7;
  --color-secondary-2-fixed: #BBB8EE;
  --color-secondary-3-fixed: #9792E4;
  --color-secondary-4-fixed: #726BDB;
  --color-secondary-5-fixed: #4E45D2;
  --color-secondary-6-fixed: #362DBA;
  --color-secondary-7-fixed: #2B2494;
  --color-secondary-8-fixed: #201B6D;
  --color-secondary-9-fixed: #151147;
  --color-secondary-10-fixed: #0A0821;
  --color-tertiary-1-fixed: #E2E5F3;
  --color-tertiary-2-fixed: #C1C7E5;
  --color-tertiary-3-fixed: #9FA9D7;
  --color-tertiary-4-fixed: #7E8BC9;
  --color-tertiary-5-fixed: #5C6DBB;
  --color-tertiary-6-fixed: #4456A3;
  --color-tertiary-7-fixed: #364481;
  --color-tertiary-8-fixed: #283260;
  --color-tertiary-9-fixed: #1A213E;
  --color-tertiary-10-fixed: #0C0F1D;
  --color-success-1-fixed: #E5F0E5;
  --color-success-2-fixed: #C7DEC7;
  --color-success-3-fixed: #A9CDA9;
  --color-success-4-fixed: #8BBB8B;
  --color-success-5-fixed: #6DA96D;
  --color-success-6-fixed: #569256;
  --color-success-7-fixed: #447444;
  --color-success-8-fixed: #325632;
  --color-success-9-fixed: #213821;
  --color-success-10-fixed: #0F1A0F;
  --color-warning-1-fixed: #F4ECE1;
  --color-warning-2-fixed: #E7D6BE;
  --color-warning-3-fixed: #DAC09C;
  --color-warning-4-fixed: #CDAB79;
  --color-warning-5-fixed: #C19556;
  --color-warning-6-fixed: #A97D3E;
  --color-warning-7-fixed: #866332;
  --color-warning-8-fixed: #634925;
  --color-warning-9-fixed: #413018;
  --color-warning-10-fixed: #1E160B;
  --color-error-1-fixed: #F5E0E0;
  --color-error-2-fixed: #E9BCBC;
  --color-error-3-fixed: #DE9898;
  --color-error-4-fixed: #D27474;
  --color-error-5-fixed: #C65050;
  --color-error-6-fixed: #AF3939;
  --color-error-7-fixed: #8B2D2D;
  --color-error-8-fixed: #672121;
  --color-error-9-fixed: #431616;
  --color-error-10-fixed: #1F0A0A;
  --color-neutral-1-fixed: #E9E7EF;
  --color-neutral-2-fixed: #D0CADC;
  --color-neutral-3-fixed: #B6ADC9;
  --color-neutral-4-fixed: #9D91B6;
  --color-neutral-5-fixed: #8374A3;
  --color-neutral-6-fixed: #6B5C8B;
  --color-neutral-7-fixed: #55496E;
  --color-neutral-8-fixed: #3F3652;
  --color-neutral-9-fixed: #292335;
  --color-neutral-10-fixed: #131018;
}
