@use 'common';

.link-dropdown-wrapper {
  position: relative;
  @include common.for-phone {
    width: 100%;
  }

  @include common.hover {
    &:hover {
      .dropdown-menu {
        display: block !important;
      }
    }
  }
}

.dropdown-trigger {
  --rotate: 0;
  gap: 6px;
  cursor: pointer;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 12px;
  transition: var(--transition);
  color: var(--color-on-surface-variant);
  font-weight: 500;
  @include common.for-phone {
    padding: 0 20px;
    width: 100%;
    justify-content: space-between;
  }
  @include common.hover {
    &:hover {
      color: var(--color-on-surface);
    }
  }

  .dropdown-trigger-text {
    font-size: 1.6rem;
  }

  .dropdown-trigger-icon {
    width: 1em;
    height: 1em;
    transition: transform 0.2s cubic-bezier(0.2, 0, 0, 1);
    @include common.for-phone {
      transform: rotate(var(--rotate));
    }

  }
}

.dropdown-menu {
  display: none;
  @include common.for-pc {
    z-index: 110;
    position: absolute;
    right: 0;
    width: 150px;
    padding: 4px;
    background: var(--color-surface-container);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-outline-variant);
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    display: none !important;
  }
  @include common.for-phone {
    width: 100%;
    padding-left: 20px;
  }
}

.dropdown-menu-item {
  gap: 6px;
  border: none;
  background: transparent;
  height: 40px;
  padding: 0 1em;
  border-radius: calc(var(--border-radius) / 2);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.2, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-on-surface);

  .external-link-icon {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    transform: rotate(45deg);
  }

  &.active {
    color: var(--color-primary);
  }

  @include common.hover {
    &:hover {
      background: var(--color-surface-container-high);
    }
  }
  @include common.for-phone {
    color: var(--color-on-surface-variant);
  }
}
