@use "common";

.default-theme-doc-layout {
  --sidebar-width: 272px;

  .doc-container {
    transition: transform 0.3s ease-in-out,
    width 0.3s ease-in-out;
    animation: fadeIn 0.8s ease-out;
    @include common.for-pc {
      padding: 24px 48px 24px 48px;
      width: calc(100% - var(--sidebar-width));
      transform: translateX(var(--sidebar-width));
    }
    @include common.for-phone {
      padding: 64px 32px 24px 32px;
      transform: translateX(0);
      width: 100%;
    }
  }

  .sidebar-layout {
    top: 0;
    left: 0;
    z-index: 2;
    position: fixed;
    @include common.for-pc {
      width: var(--sidebar-width);
      top: var(--header-height);
      height: calc(100dvh - var(--header-height));
      &::after {
        position: fixed;
        content: '';
        display: block;
        width: calc(var(--sidebar-width) - 1px);
        left: 0;
        height: 48px;
        bottom: 0;
        @include common.layoutBg;
      }
    }
    @include common.for-phone {
      width: 100%;
      height: 100dvh;
      z-index: 100;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }

    .nav-list {
      padding: 20px 6px 0 32px;
      list-style: none;
      font-size: 1.6rem;
      overflow-x: hidden;
      overflow-y: auto;
      overscroll-behavior-y: contain;
      @include common.layoutBg;

      @include common.for-pc {
        height: calc(100dvh - var(--header-height));
        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 48px;
        }
      }
      @include common.for-phone {
        max-width: 60%;
        height: 100dvh;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      a {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        padding-right: 10px;
      }

      &__item {
        margin: 8px 0;
      }

      &__link.active {
        color: var(--color-primary);
      }

      &__sub {
        list-style: none;
        font-size: 1.4rem;
        padding-left: 16px;

        &__item {
          margin: 8px 0;

          .nav-list__link.active {
            color: var(--color-primary);
          }
        }
      }


      .toc-list {
        list-style: none;
        font-size: 1.4rem;
        padding-left: 1.4rem;
        color: var(--color-on-surface-variant);

        .toc-list {
          list-style: none;
          padding-left: 1.4rem;
        }

        &__item {
          margin: 6px 0;
        }

        &__link {
          &::before {
            font-size: 1.4rem;
            display: inline-block;
            font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
            content: "-";
            float: left;
            padding-right: 4px;
          }

          &.active {
            color: var(--color-primary);
          }
        }
      }
    }
  }

  .sidebar-button {
    z-index: 3;
    position: fixed;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-on-surface);


    @include common.for-pc {
      width: 48px;
      height: 48px;
      bottom: 0;
      background-color: transparent;
      justify-content: center;
      border: none;
      svg:nth-child(1) {
        color: var(--color-primary);
        font-size: 22px;
        @include common.hover {
          &:hover {
            color: var(--color-primary-hover);
          }
        }
      }
      svg:nth-child(2) {
        display: none;
      }
      span {
        display: none;
      }
    }

    @include common.for-phone {
      height: 40px;
      width: 100%;
      border-left: 0;
      border-right: 0;
      border-top: 1px solid var(--color-outline-variant);
      border-bottom: 1px solid var(--color-outline-variant);
      @include common.layoutBg;
      top: var(--header-height);
      padding: 10px 32px;
      font-size: 14px;
      svg:nth-child(1) {
        display: none;
      }
      svg:nth-child(2) {
        font-size: 16px;
        margin-right: 8px;
      }
    }
  }

  &[data-sidebar-open="true"] {
    @include common.for-pc {
      .sidebar-layout {
        transform: translateX(-100%);
      }
      .sidebar-layout + .v-doc-content {
        transform: translateX(0);
        width: 100%;
      }
    }
    @include common.for-phone {
      &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
        transition: all 0.3s ease-in-out;
      }
      .sidebar-layout {
        transform: translateX(0);
      }
    }
  }
}

.default-theme-doc-footer {
  margin-top: 1em;

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px;

    dd {
      svg {
        margin-right: 4px;
      }
    }

    dd:nth-child(1) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: var(--color-on-surface-variant);
    }

    dd:nth-child(2) {
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--color-primary);
      }
    }
  }

  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 1em 0;
    border-top: 1px solid var(--color-outline-variant);
    overflow: hidden;

    a {
      color: var(--color-primary);
      display: flex;
      flex-direction: column;
      text-decoration: none;

      small {
        color: var(--color-outline);
        font-weight: 600;

        svg {
          height: 0.8em;
          width: auto;
          stroke: currentColor;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 1px;
        }
      }
    }

    .pagination-previous {
      svg {
        margin-right: 8px;
      }
    }

    .pagination-next {
      small {
        text-align: right;
      }

      svg {
        margin-left: 8px;
      }
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid var(--color-outline-variant);
    padding: 16px 0;
  }
}
